flows.json
[
    {
        "id": "aecb097bb3b987bd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec85bcd1a25a3999",
        "type": "inject",
        "z": "aecb097bb3b987bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "869c32ea27d7ffc6"
            ]
        ]
    },
    {
        "id": "869c32ea27d7ffc6",
        "type": "function",
        "z": "aecb097bb3b987bd",
        "name": "function 1",
        "func": "let arr = [\"\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "0320d1e565dddb08"
            ]
        ]
    },
    {
        "id": "0320d1e565dddb08",
        "type": "debug",
        "z": "aecb097bb3b987bd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    }
]