flows.json
[
    {
        "id": "29570d1df94e2809",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75a89d90fbde1f95",
        "type": "group",
        "z": "29570d1df94e2809",
        "name": "TEST ",
        "style": {
            "label": true
        },
        "nodes": [
            "0b14e0c72fbd7234",
            "4006801a25601f96",
            "582a66c2d648e55c"
        ],
        "x": 154,
        "y": 159,
        "w": 632,
        "h": 82
    },
    {
        "id": "0b14e0c72fbd7234",
        "type": "inject",
        "z": "29570d1df94e2809",
        "g": "75a89d90fbde1f95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "4006801a25601f96"
            ]
        ]
    },
    {
        "id": "4006801a25601f96",
        "type": "function",
        "z": "29570d1df94e2809",
        "g": "75a89d90fbde1f95",
        "name": "function 1",
        "func": "let arr = [\"\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "582a66c2d648e55c"
            ]
        ]
    },
    {
        "id": "582a66c2d648e55c",
        "type": "debug",
        "z": "29570d1df94e2809",
        "g": "75a89d90fbde1f95",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "c7063273efd86de6",
        "type": "inject",
        "z": "29570d1df94e2809",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "4294597b3d34d0e5"
            ]
        ]
    },
    {
        "id": "4294597b3d34d0e5",
        "type": "function",
        "z": "29570d1df94e2809",
        "name": "function 2",
        "func": "msg.payload = \"This is from TEST branch\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "b083cb4228e26be4"
            ]
        ]
    },
    {
        "id": "b083cb4228e26be4",
        "type": "debug",
        "z": "29570d1df94e2809",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    }
]